@import "tailwindcss";

@plugin "daisyui" {
  themes: winter, night;
}

.logo-blend {
  mix-blend-mode: multiply;
}

[data-theme='night'] .logo-blend {
  mix-blend-mode: normal;
  filter: brightness(1.2);
}

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  min-height: 100vh;
}